<h1><%= t("Editing Customer") %></h1>

<%= render 'form', customer: @customer %>

<%= link_to t('actions.show'), @customer, class: "btn btn-primary" %> |
<%= link_to t('actions.back'), customers_path, class: "btn btn-default" %>
